#landing-image {
    transform: scale(1.5);
}

.select-trigger,
.sort-trigger {
    height: 44px !important;
}

#medicine-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    gap: 8px;
}

#featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 272px));
    gap: 8px;
    place-content: center;
}

.taka-symbol {
    display: block;
    transform: scale(1.5);
}